.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow:scroll;
}
.total-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.total {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 150px;
  margin-top: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.total:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.total {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.Recent-transactions{
    max-width: 50vw;
    min-width: 50vw;
}
@media (max-width: 768px) {
  .total-container {
    flex-direction: column;
    align-items: center;
  }
}
