body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.navbar {
  background-color: rgb(246, 244, 244);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100vw; /* Change 100vw to 100% */
  box-sizing: border-box; /* Add box-sizing to include padding in width */
}

.logo-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.navbar .logo {
  height: 50px;
}

.navbar .menu {
  display: flex;
  list-style: none;
  padding: 10px;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.navbar .menu.active {
 
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: rgb(246, 244, 244);
  padding: 10px;
  margin-right: 0;
  z-index: 10;
}

.navbar .menu li {
  margin-left: 20px;
}

.navbar .menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.navbar .menu a:hover {
  color: #007bff;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbar .menu {
    flex-direction: column;
    margin-top: 10px;
    margin-right: 0;
    padding: 0;
    display: none;
  }

  .navbar .menu.active {
    display: flex;
  }

  .navbar .menu li {
    margin: 10px 0;
    margin-left: 0;
  }

  .logo-image {
    width: 40px;
    height: 40px;
  }

  .hamburger {
    display: block;
  }
}