.transaction-detail-box{
    height: 70px;
    background-color: white;
    margin-top: 10px;
    padding: 20px 90px;
    border-radius: 20px;
    display: flex;
    vertical-align: middle;
    align-items:flex-start;
    justify-content: space-between;
}
.transaction-amount-description{
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.sub-details{
    display: flex;
    gap: 10px;
}
.edit-delete-button{
    display: flex;
    gap: 8px;
}
.edit{
    border: solid rgb(255, 255, 169) 3px;
    border-radius: 8px;
    box-shadow: 2px;
    color: black;
    background-color: rgb(255, 255, 169);
}
.delete{
    border: solid rgb(255, 167, 167) 3px;
    border-radius: 8px;
    box-shadow: 2px;
    color: black;
    background-color: rgb(255, 167, 167);
}
.edit:hover,.delete:hover{
    background-color: rgb(244, 244, 244);
}

@media (max-width: 768px) {
    .transaction-detail-box{
      padding: 1%;
      font-size: small;
      flex-direction: column;
      gap:10px;
      justify-content: space-around;
      align-items: center;
    }
  }
